body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
    transition: all .5s;
}

/*fade in of caption*/
/* .caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    background: rgba(0,0,0,0);
    transition: all 0.5s;
}

.caption h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption p {
    font-size: 18px;
    text-transform: capitalize;
}

.container:hover .caption {
    opacity: 1;
    background: rgba(0,0,0,0.5);
}

.container:hover img {
    transform: scale(1.3) rotate(15deg);
} */

/*Slide in of caption from the side*/
/* .caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0,0,0,0);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.caption h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption p {
    font-size: 18px;
    text-transform: capitalize;
}

.container:hover .caption {
    background-color: rgba(0,0,0,0.5);
    transform: translateX(0);
}

.container:hover img {
    transform: scale(1.3) rotate(-15deg);
} */

/*Swipe caption in from side replacing the image*/
/* .caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.caption h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption p {
    font-size: 18px;
    text-transform: capitalize;
}

.container:hover .caption {
    transform: translateX(0);
}

.container:hover img {
    transform: translateX(100%);
} */

/*swipe up caption to cover bottom 1/3 of image*/
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s;
    background-color: black;
    transform: translateY(100%);
}

.caption h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption p {
    font-size: 18px;
    text-transform: capitalize;
}

.container:hover .caption {
    transform: translateY(0);
}

.container:hover img {
    transform: translateY(-30%);
}