body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #262626;
  }

  .heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ff3838;
    transform: rotate(45deg);
    animation: beat 1.4s linear infinite;
  }

  .heart::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3838;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  .heart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3838;
    transform: translateX(-50%);
    border-radius: 50%;
  }

  @keyframes beat {
      0% {transform: rotate(45deg) scale(1);}
      25% {transform: rotate(45deg) scale(1);}
      30% {transform: rotate(45deg) scale(1.4);}
      50% {transform: rotate(45deg) scale(1.2);}
      70% {transform: rotate(45deg) scale(1.4);}
      100% {transform: rotate(45deg) scale(1);}
  }