body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.rain {
    height: 100%;
    width: 100%;
    background: url(rain.png);
    animation: rain 0.6s linear infinite;

}

@keyframes rain {
    0% {background-position: 0% 0%;}

    100% {background-position: 20% 100%; }
}