 body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2c3e50;
}

.cradle {
	display: flex;
	border-top: 10px solid white;
}

.cradle span {
	display: block;
	width: 3px;
	height: 300px;
	background-color: white;
	margin: 0 29px;
	position: relative;

	transform-origin: top;
}


.cradle span::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: white;
	transform: translateX(-50%);
}

.cradle span:first-child {
	animation: left-arm 3s ease-in infinite;
}

.cradle span:last-child {
	animation: right-arm 3s ease-in infinite;
	animation-delay: 1.5s;
}

@keyframes left-arm {
	0%{ transform: rotate(0deg);}
	25%{ transform: rotate(60deg);}
	50%{ transform: rotate(0deg);}
	100%{ transform: rotate(0deg);}
}

@keyframes right-arm {
	0%{ transform: rotate(0deg);}
	25%{ transform: rotate(-60deg);}
	50%{ transform: rotate(0deg);}
	100%{ transform: rotate(0deg);}
}