
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea2027;
  }

  h1 {
      color: white;
      font-size: 50px;
  }

  span::before {
      content: "TRANSITIONS";
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      color: #1b1464;
      animation: wordswitch 5s infinite;
  }

  @keyframes wordswitch {
      0% {content: 'Transitions';}
      50% {content: 'animatinios';}
      100% {content: 'transforms';}
  }