 body {
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120px;
  color: #ccc;
  text-transform: uppercase;
  position: relative;
}


h1::before {
  content: 'text';
  position: absolute;
  top: 0;
  left: 0;
  color: #262626;
  width: 0;
  overflow: hidden;
  transition: all 0.5s;
}

h1:hover::before {
  width: 100%;
}