body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
  }

ul {
      margin: 0;
      padding: 0;
      display: flex;
    }

ul li {
 list-style: none;
 color: #484848;
 font-size: 80px;
 letter-spacing: 15px;
 animation: lighting 1.4s linear infinite;
}

ul li:nth-child(1) {
    animation-delay: 0s;
}

ul li:nth-child(2) {
    animation-delay: 0.1s;
}

ul li:nth-child(3) {
    animation-delay: 0.2s;
}

ul li:nth-child(4) {
    animation-delay: 0.3s;
}

ul li:nth-child(5) {
    animation-delay: 0.4s;
}

ul li:nth-child(6) {
    animation-delay: 0.5s;
}

ul li:nth-child(7) {
    animation-delay: 0.6s;
}

ul li:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes lighting {
    0% { color: #484848;
        text-shadow: none;}

    90% { color: #484848;
        text-shadow: none;}

    100% { color: #fff900;
        text-shadow: 00 7px #fff900, 0 0 50px #fff900;}
}

