body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #273c75;
  }

  h1 {
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
    background: url(image.jpg);
    -webkit-background-clip: text;
    color: transparent;
    animation: textBackground 20s linear infinite;

  }

  @keyframes textBackground {
    from {background-position: 0 0;}
    to {background-position: 100% 100%;}
  }