body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #272727;
  }

  ul {
      margin: 0;
      padding: 0;
      display: flex;
      border-bottom: 10px solid white;
  }

  ul li {
      list-style: none;
      width: 30px;
      height: 30px;
      background-color: white;
      margin: 0 10px;
      border-radius: 50%;
      animation: bounce 0.8s linear infinite;
  }

  @keyframes bounce {
      0% {transform: translateY(0);}
      50% {transform: translateY(-150px);}
      100% {transform: translateY(0);}
  }

  ul li:nth-child(1) {
      animation-delay: 0.45s;
  }
ul li:nth-child(2) {
    animation-delay: 0.21s;
}
ul li:nth-child(3) {
    animation-delay: 0.78s;
}
ul li:nth-child(4) {
    animation-delay: 0.65s;
}
ul li:nth-child(5) {
    animation-delay: 0.11s;
}