body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26de81;
  }

  h1 {
      text-align: center;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 90px;
      line-height: 90px;
      letter-spacing: 15px;
      text-shadow: 0 1px 0 #efefef, 
      0 2px 0 #efefef,  
      0 3px 0 #efefef,  
      0 4px 0 #efefef,  
      0 30px 5px rgba(0,0,0,.1);
      animation: float 3s linear infinite;
      animation-direction: alternate;
  }

  @keyframes float {
    from{transform: rotate(5deg);}

    to {transform: rotate(-5deg);}
  }