body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
  }

  a {
      text-decoration: none;
      color: white;
      font-family: sans-serif;
      font-size: 40px;
      border: 3px solid white;
      padding: 40px 80px;
      transition: all 0.3s;
  }

  a:hover {
    border: 3px solid #f44336;
    color: #f44336;
    animation: shake 0.3s linear 1;
  }

  @keyframes shake {
      33% {transform: rotate(10deg);}
      66% {transform: rotate(-10deg);}
      100% {transform: rotate(10deg);}
  }