/*Basic setup for body*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4b4b4b;
  }

  div {
      width: 300px;
      height: 400px;
      border: 5px solid white;
      overflow: hidden;
  }

  img {
      width: 100%;
      height: 100%;
      transition: transform 1s;
  }

  img:hover {
      transform: scale(1.2) rotate(9deg);
  }