body {
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-color: #212121;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

.fig {
  width: 500px;
  color: white;
  font-family: "Raleway";
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.fig img {
  width: 100%;
}

.fig::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #006266;
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}

.fig:hover::before {
  transform: translateY(0);
  transition-delay: 0s;
}

.fig .caption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s;
}

.fig:hover .caption {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.fig h3, .fig h5 {
  margin: 0;
  letter-spacing: 1px;
}

.fig h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}

.fig h5 {
  background-color: #ae895d;
  padding: 3px 5px;

}