/*Basic setup for body*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box-dark {
    height: 1000px;
    background-color: #222;
    margin: 10px;
  }
  
  /*Basic setup for button*/
  
  .Yellow {
    text-decoration: none;
    color: #272727;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #272727;
    padding: 40px 80px;
    margin: 10px;
    position: relative;
    overflow: hidden;
  }
  
  /*Yellow hover rotating in from bottom left corner*/
  
  .Yellow:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
  }
  
  .Yellow:hover:before {
    transform: rotate(0deg);
  }
  
  /*Purple hover moving in from left side*/
  .Purple {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #351435;
    padding: 40px 80px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
  }
  
  .Purple::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
  }
  
  .Purple:hover::before {
    transform: translateX(0);
  }
  
  .Purple:hover {
    color: white;
  }
  
  /*Split from the middle in four parts and move outwards*/
  
  .Split {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    border: 5px solid #262626;
    padding: 40px 80px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: 1s;
  }
  
  .Split::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    z-index: -1;
    transition: 1s;
    transform: rotateX(90deg);
  }
  
  .Split::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    z-index: -1;
    transition: 1s;
    transform: rotateY(90deg);
  }
  
  .Split:hover::before {
    transform: rotateX(0deg);
  }
  
  .Split:hover::after {
    transform: rotateY(0deg);
  }
  
  .Split:hover {
    color: white;
  }
  
  /*Makes button bigger on hover*/
  
  .Bigger {
    text-decoration: none;
    color: #e1332d;
    font-family: sans-serif;
    font-size: 40px;
    letter-spacing: -2px;
    border: 3px solid #e1332d;
    text-transform: uppercase;
    font-weight: 300;
    padding: 40px 80px;
    margin: 10px;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  .Bigger:hover {
    font-weight: 500;
    letter-spacing: 5px;
    border: 7px solid #e1332d;
  }
  
  /*Swipes in new panel from top to bottom*/
  
  .Swipe {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid white;
    padding: 40px 80px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
  }
  
  .Swipe::before {
    content: "YEAH!";
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f44336;
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Swipe:hover::before {
    transform: translateY(0);
  }
  
  /*diagonal slide with shimmer effect*/
  
  .Slide {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 45px;
    border: 3px solid white;
    padding: 40px 80px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .Slide:hover {
    background-color: #f44336;
  }
  
  .Slide::before {
    content: "";
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
  }
  
  .Slide:hover::before {
    transform: translateX(100%) rotate(45deg);
  }
  
  /*Switch out one background for another diagonally*/
  
  .Switch {
    text-decoration: none;
    color: transparent;
    background-color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    border: 4px solid #262626;
    padding: 40px 80px;
    margin: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .Switch::before {
    content: "Hover Me";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff200;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .Switch::after {
    content: "Hover Me";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff200;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
  }
  
  .Switch:hover::before {
    transform: translate(100%, -100%);
  }
  
  .Switch:hover::after {
    transform: translate(0, 0);
  }
  
  /*Fade of new colors on hover*/
  .Fade {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    border: 3px solid #262626;
    padding: 40px 80px;
    margin: 10px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
  }
  
  .Fade::before {
    content: "Hover Me";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
  }
  
  .Fade:hover::before {
    transform: scale(1);
    opacity: 1;
  }
  